# Section 1 : Tuples

In [2]:
# Tuples : ordered, immutable, allows duplicate elements

mytuple = ("Max", 28, "Boston")
print(mytuple)
print(type(mytuple))

('Max', 28, 'Boston')
<class 'tuple'>

In [5]:
max = ("Max",)
print(type(max))

<class 'tuple'>

In [7]:
item = mytuple[-1]
print(item)

Boston

In [8]:
for i in mytuple:
    print(i)

Max
28
Boston

In [9]:
if "Max" in mytuple:
    print("yes")
else:
    print("no")

yes

In [11]:
if "Tim" in mytuple:
    print("yes")
else:
    print("no")

no

In [12]:
apple = ('a', 'p', 'p', 'l', 'e')

print(len(apple))

5

In [15]:
print(apple.count('p'))
print(apple.count('o'))

2
0

In [16]:
print(apple.index('a'))
print(apple.index('p'))

0
1

In [17]:
my_list = list(mytuple)
print(my_list)

mytuple2 = tuple(my_list)
print(mytuple2)

['Max', 28, 'Boston']
('Max', 28, 'Boston')

In [1]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

b = a[2:5]
print(b)

(3, 4, 5)

In [2]:
print(a[2:])

(3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
print(a[::1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(a[::2])

(1, 3, 5, 7, 9)

In [5]:
print(a[::-1])

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [6]:
words = "Max", 28, "Boston"

name, age, city = words
print(name)
print(age)
print(city)

Max
28
Boston

In [8]:
numtuple = (0, 1, 2, 3, 4)
i1, *i2, i3 = numtuple

print(i1) # starting
print(i2) # numbers in between in a list
print(i3) # ending

0
[1, 2, 3]
4

In [9]:
import sys
myList = [0, 1, 2, "hello", True]
myTuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(myList), "bytes")
print(sys.getsizeof(myTuple), "bytes")

104 bytes
80 bytes

In [10]:
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

0.0309041000000434
0.007688700000016979